

<!DOCTYPE html>
<html lang="fr-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./../img/favicon-32x32.png" />
    <title>VAPEUR DOUCE</title>
    <link href="./../css/style.css" rel="stylesheet">
</head>
<body>
    <header> 
        <nav id="navbar">
            <div class="navbar-container">
                <h1 class="avbar-container__logo"><a href="index.html">VAPEUR DOUCE</a></h1>
            </div>
        </nav>
    </header>
    <section class="container">
        <div class="aliment">
            <div class="aliment-container">
                <div class="item">Nom</div>
                <div class="item">Cuisson </div>
                <div class="item">vapeur</div>  
                <div class="item">Cuisson </div>
                <div class="item">5 min</div>
                <div class="item"><a href="">voir</a></div>  
            </div>
        </div>
        <div class="aliment">
            <div class="aliment-container">
                <div class="item">Nom</div>
                <div class="item">Cuisson </div>
                <div class="item">vapeur</div>  
                <div class="item">Cuisson </div>
                <div class="item">5 min</div>
                <div class="item"><a href="">voir</a></div>  
            </div>
        </div>
        <div class="aliment">
            <div class="aliment-container">
                <div class="item">Nom</div>
                <div class="item">Cuisson </div>
                <div class="item">vapeur</div>  
                <div class="item">Cuisson </div>
                <div class="item">5 min</div>
                <div class="item"><a href="">voir</a></div>  
            </div>
        </div>
        <div class="aliment">
            <div class="aliment-container">
                <div class="item">Nom</div>
                <div class="item">Cuisson </div>
                <div class="item">vapeur</div>  
                <div class="item">Cuisson </div>
                <div class="item">5 min</div>
                <div class="item"><a href="">voir</a></div>  
            </div>
        </div>
        <div class="aliment">
            <div class="aliment-container">
                <div class="item">Nom</div>
                <div class="item">Cuisson </div>
                <div class="item">vapeur</div>  
                <div class="item">Cuisson </div>
                <div class="item">5 min</div>
                <div class="item"><a href="">voir</a></div>  
            </div>
        </div>
    </section>
</body>
</html>