

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./../img/favicon-32x32.png" />
    <title>VAPEUR DOUCE</title>
    <link href="./../css/style.css" rel="stylesheet">
</head>
<body>
    <header> 
        <nav id="navbar">
            <div class="navbar-container">
                <h1 class="avbar-container__logo"><a href="index.html">VAPEUR DOUCE</a></h1>
            </div>
        </nav>
    </header>
    <div class="container">
        <section class="continer-content"id="continer">
            <div class="continer-content__logo"><img src="./../img/logo-1.png" alt=""></div>
            <h1  class="continer-content__text">Vapeur Douce</h1>
            <div class="continer-content__form">
                <form action="index.php" method="get" >
                    <input  class="form-search"type="text" name="aliment" placeholder="  Search aliment" >
                    <button class="form-btn"><a href="aliment.php?items=all">Search</a></button>
                </form>
            </div>
        </section>    
    </div>
</body>
</html>